
    <!-- Top static navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="./index.html">##LOGO##</a>
		</div>


		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="#" class="dropdown-toggle" data-toggle="dropdown"
					role="button" aria-haspopup="true" aria-expanded="true"> Who we
						are<span class="caret"></span>
				</a>
					<ul class="dropdown-menu">
						<li><a href="#journey">Journey</a></li>
						<li><a href="#people">People</a></li>
					</ul></li>


				<li><a href="#" class="dropdown-toggle" data-toggle="dropdown"
					role="button" aria-haspopup="true" aria-expanded="true">What we
						do<span class="caret"></span>
				</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						<li><a href="#vision">Vision and Objective</a></li>
						<li><a href="#recruitment">Recruitment process for
								students and mentors</a></li>
						<li><a href="#guidelines">Guidelines</a></li>
					</ul></li>
				<li><a href="#takeAction">Take Action</a></li>
				
				<li ng-show="roleName=='ADMIN'"><a href="#admin">Adminstrator</a></li>
				
				<li ng-show="roleName=='USER'"><a href="#admin">UserMenu</a></li>
				<!-- <li><a href="#donate">Donate</a></li> -->
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li ng-show="authenticated">Welcome {{roleName}}</li>

				<li ng-show="authenticated"><a href="" ng-click="logout()">logout</a></li>
				<li ng-show="!authenticated" class="dropdown"><a href="/login"
					class="dropdown-toggle" data-toggle="dropdown">Login/Signup<span
						class="caret"></span></a>
					<ul class="dropdown-menu dropdown-lr" role="menu">
						<div class="col-lg-12">
							<div class="text-center">
								<h3>
									<b>Log In</b>
								</h3>
							</div>
							<form id="ajax-login-form" ng-submit="login()" method="post"
								role="form" autocomplete="off">
								<div class="alert alert-danger" ng-show="error">There was
									a problem logging in. Please try again.</div>
								<div class="form-group">
									<label for="username">Username</label> <input type="text"
										name="username" id="username" tabindex="1"
										class="form-control" placeholder="Username" value=""
										autocomplete="off" ng-model="credentials.username">
								</div>

								<div class="form-group">
									<label for="password">Password</label> <input type="password"
										name="password" id="password" tabindex="2"
										class="form-control" placeholder="Password" autocomplete="off"
										ng-model="credentials.password">
								</div>

								<div class="form-group">
									<div class="row">
										<div class="col-xs-7">
											<input type="checkbox" tabindex="3" name="remember"
												id="remember"> <label for="remember">
												Remember Me</label>
										</div>
										<div class="col-xs-5 pull-right">
											<button type="submit" class="btn btn-primary">Submit</button>
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="row">
										<div class="col-lg-12">
											<div class="text-center">
												<a href="/AKFoundation/#/forgotPassword" tabindex="5" class="forgot-password">Forgot
													Password?</a>
											</div>
											<div class="text-center">
												<a href="/register" tabindex="6" class="register">Register</a>
											</div>
										</div>
									</div>
								</div>
								<input type="hidden" class="hide" name="token" id="token"
									value="a465a2791ae0bae853cf4bf485dbe1b6">
							</form>
						</div>
					</ul></li>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
</nav>

    <div class="content" >
      <div class="container">


        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            This section contains a wealth of information, related to <strong>Education</strong> and its enrolling process. If you cannot find an answer to your question,
            make sure to contact us.
        </div>


        <div class="panel-group" id="accordion">
            <div class="faqHeader">General questions</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Is account registration required?</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan venenatis lectus <br>sed sollicitudin. Duis in odio ex. Sed elementum varius enim.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">How long does it take for registration to go through ?</a>
                    </h4>
                </div>
                <div id="collapseTen" class="panel-collapse collapse">
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan venenatis lectus <br>sed sollicitudin. Duis in odio ex. Sed elementum varius enim.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">What is the currency used for all transactions?</a>
                    </h4>
                </div>
                <div id="collapseEleven" class="panel-collapse collapse">
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan venenatis lectus <br>sed sollicitudin. Duis in odio ex. Sed elementum varius enim.
                    </div>
                </div>
            </div>

            <div class="faqHeader">Students</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Where can i get the course materials?</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan venenatis lectus <br>sed sollicitudin. Duis in odio ex. Sed elementum varius enim.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">How do I register for courses?</a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        The steps involved in this process are really simple. All you need to do is:
                        <ul>
                            <li>Register an account</li>
                            <li>Activate your account</li>
                            <li>Enroll for courses</li>
                            <li>The next step is the approval step, which usually takes about 72 hours.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="faqHeader">Mentors</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">I want to become a mentor - what are the steps?</a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        The steps involved in this process are really simple. All you need to do is:
                        <ul>
                            <li>Register an account</li>
                            <li>Activate your account</li>
                            <li>Enroll for courses</li>
                            <li>The next step is the approval step, which usually takes about 72 hours.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Where can i get the schedule for the courses ?</a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan venenatis lectus <br>sed sollicitudin. Duis in odio ex. Sed elementum varius enim.
                    </div>
                </div>
            </div>

            <div class="faqHeader">Volunteers</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">I want to become a volunteer - what are the steps?</a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse">
                    <div class="panel-body">
                        The steps involved in this process are really simple. All you need to do is:
                        <ul>
                            <li>Register an account</li>
                            <li>Activate your account</li>
                            <li>Enroll for courses</li>
                            <li>The next step is the approval step, which usually takes about 72 hours.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    
    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>ARUL &amp; KAVITHA</h3>
                        <ul class="list-unstyled">
                          <li><a href="./blog.html">Blog</a></li>
                          <li><a href="./faq.html">FAQs</a></li>
                          <li><a href="./contact.html">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About Us</h3>
                        <p>AK Foundation is an organization addressing  the issue of lack of quality education for children by providing them access to it.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Your Website 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>

