<!DOCTYPE html>
<html ng-app="AngularSpringApp" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Arul and kavitha</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/AKFoundation/views/css/main.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Stripe -->
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

    <!--  Google MAPS API for places -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5-o2pWQjn5SyeVt9mYw960yOdOMa_uKM&libraries=places"></script>


    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>

    <!-- Modules -->
    <script src="/AKFoundation/angular/module/app.js"></script>
    <!-- Controllers -->
    <script src="/AKFoundation/angular/controller/carousel_controller.js"></script>
    <script src="/AKFoundation/angular/controller/admin_controller.js"></script>
    <script src="/AKFoundation/angular/controller/user_controller.js"></script>
    <!-- Services -->
    <script src="/AKFoundation/angular/service/carousel_service.js"></script>
    <script src="/AKFoundation/angular/service/user_service.js"></script>

  </head>
  <body data-spy="scroll" data-target=".navbar" data-offset="50">

    <div ng-view>
    </div>



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script type="text/javascript">
      Stripe.setPublishableKey('pk_test_HDGRdtAbsQP3JT5FGgY3NaNz');
    </script>

  </body>
</html>
