<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-4 nopadding">
                    <div><h3>Who we are</h3></div>
                    <div>&nbsp;</div>
                    <div><img src="views/img/group_of_people.jpg" class="img-responsive" /></div>
                    <div>&nbsp;</div>
                    <div>AK Foundation, founded by Arul and Kavitha, successful entrepreneurs and philanthropists, believe education will change lives for better.</div>
                    <div>&nbsp;</div>
                    <div><a class="btn btn-lg btn-white btn-fill" href="#" role="button">READ MORE</a></div>
                </div>
                <div class="col-lg-4 nopadding">
                    <div><h3>What we do</h3></div>
                    <div>&nbsp;</div>
                    <div><img src="views/img/certificate.png" class="img-responsive" /></div>
                    <div>&nbsp;</div>
                    <div>We identify meritorious students with financial adversities, provide them scholarship and guidance to complete higher secondary and college.</div>
                    <div>&nbsp;</div>
                    <div><a class="btn btn-lg btn-white btn-fill" href="#" role="button">APPLY FOR SCHOLARSHIP</a></div>
                </div>
                <div class="col-lg-4 nopadding">
                    <div><h3>Get involved</h3></div>
                    <div>&nbsp;</div>
                    <div><img src="views/img/hand_heart.png" class="img-responsive" /></div>
                    <div>&nbsp;</div>
                    <div>Volunteer to mentor, monitor progress, donate. Without you, we won’t be able to get far.</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div><a class="btn btn-lg btn-white btn-fill" href="#" role="button">TAKE ACTION</a></div>
                </div>
            </div>
        </div>
    </div>
</section>