<section id="changeSection">
    <div>&nbsp;</div>
    <div id="change" class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-3 nopadding right-green-border" style="padding-top:20em; height: 50em; color: white; font-weight: bold;">
                    <div>CHANGE A LIFE.</div>
                    <div>SPONSOR A CHILD</div>
                    <div>&nbsp;</div>
                    <div><a class="btn btn-lg btn-default btn-circle graduation-icon" href="#" role="button"></a></div>
                </div>
                <div class="col-lg-3 nopadding right-green-border" style="padding-top:20em; height: 50em; color: white; font-weight: bold;">
                    <div>CHANGE YOUR LIFE.</div>
                    <div>BE A MENTOR</div>
                    <div>&nbsp;</div>
                    <div><a class="btn btn-lg btn-default btn-circle mentor-icon" href="#" role="button"></a></div>
                </div>
                <div class="col-lg-3 nopadding right-green-border" style="padding-top:20em; height: 50em; color: white; font-weight: bold;">
                    <div>BE THE CHANGE.</div>
                    <div>APPLY FOR SCHOLARSHIP</div>
                    <div>&nbsp;</div>
                    <div><a class="btn btn-lg btn-default btn-circle paper-pen-icon" href="#" role="button"></a></div>
                </div>
                <div class="col-lg-3 nopadding" style="padding-top:20em; height: 50em; color: white; font-weight: bold;">
                    <div>HOW WE MAKE A CHANGE.</div>
                    <div>KNOW OUR PROCESS</div>
                    <div>&nbsp;</div>
                    <div><a class="btn btn-lg btn-default btn-circle cog-icon" href="#" role="button"></a></div>
                </div>
            </div>
        </div>
    </div>
</section>