<div ng-controller="CarouselController">
    <div class="container">
        <!-- Carousel================================================== -->
        <div id="myCarousel" class="carousel slide" data-interval="5000" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" ng-repeat="img in images" class="{active : ({{img.childrenId}} === 1)}" data-slide-to="{{img.childrenId}}"></li>
            </ol>
            <div class="carousel-inner">
                <div ng-class="{item: true, active : ({{img.childrenId}} === 1)}" ng-repeat="img in images">
                    <img ng-src="/AKFoundation/image/gallery/{{img.picture}}.jpg" alt="Slide numder {{img.childrenId}}">

                    <div class="container">

                        <div class="carousel-caption">
                            <h1>Help us grow our campaign</h1>
                            <p>Every cent counts to our goal !!!</p>
                            <p><a  class="btn btn-lg btn-primary" href="/AKFoundation/volunteer/register/{{img.picture}}" role="button"> Donate</a></p>
                        </div>
                    </div>
                </div>

            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a> </div>

    </div>
</div>