<div>
	<!-- Middle content section -->
	<div class="middle">
		<div class="container">
			<div id="messages" class="alert alert-success"
				data-ng-show="messages" data-ng-bind="messages"></div>
			<div class="col-md-9 content">
				<form ng-submit="userCtrl.fetchPassword()" name="forgotPasswordForm" id="payment-form"
					class="form-horizontal">
	
					<div class="row">
						
							<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="email">Email</label>
							<div class="col-md-7">
								<input type="email" ng-model="userCtrl.user.emailID" id="email"
									class="username form-control input-sm"
									placeholder="Enter your Email" required />
								<div class="has-error" ng-show="forgotPasswordForm.$dirty">
									<span ng-show="forgotPasswordForm.email.$error.required">This is a
										required field</span> <span ng-show="forgotPasswordForm.email.$invalid">This
										field is invalid </span>
								</div>
							</div>
						</div>
					</div>
						
					</div>
				<div class="row">
						<div class="form-actions floatRight">
							<input type="submit" value="Submit" id="submit"
								class="btn btn-primary btn-sm" ng-disabled="forgotPasswordForm.$invalid">


						</div>
					</div>

					
				</form>

			</div>


		</div>
	</div>
</div>
 